<?php
require 'vendor/autoload.php';
class reachUs

{
    public static function process($param) {
        date_default_timezone_set("Africa/Lagos");

        $file = fopen('contact.csv','a');

        fputcsv($file,array('Name','Email','Phone','Message','Date'));

        fputcsv($file,array($param['name'],$param['email'],$param['phone'],$param['message'],date("Y-m-d h:i:sa")));

        fclose($file);

      $message = "Hello ".$param['name'].",\n\nThanks for Contacting Us.\n\n Best Regards !";
        $headers = "Reply-To: <agbakobapamela@gmail.com>\r\n";
        $headers .= "Return-Path: <agbakobapamela@gmail.com>\r\n";
        $headers .= "From: <agbakobapamela@gmail.com>\r\n";

        //Send Email:
        mail($param['email'], "Booust Contact", $message,$headers);
        
        
        $csv = array_map('str_getcsv', file('contact.csv'));
        echo $csv[sizeof($csv)-1][0].'<br>';
        echo $csv[sizeof($csv)-1][1].'<br>';
        echo $csv[sizeof($csv)-1][2].'<br>';
        echo $csv[sizeof($csv)-1][3].'<br>';
        echo $csv[sizeof($csv)-1][4].'<br>';

    }
}

?>