body{
	width: 100%;
	height: 100%;
	background-image: url(img/head/display.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}
.jumbotron{
	width: 100%;
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	color: white;
	background-color: black;
	line-height: 1.4rem;
	transform: translateY(0);
	transform: translate3d(0,0,0); 
	transition: .3% transform;
	backface-visibility: hidden;
	z-index: 1;
}

.logo{
	width: 30px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
.form_wrapper{
	margin:0 auto;
	width:350px;
	height: 350px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.form_wrapper h3{
	padding:20px 30px 20px 30px;
	background-color:#444;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper form{
	display:none;
	background:#fff;
}
form.active{
	display:block;
}
form.login{
	width:300px;
	height: 450px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}
.form-group{
	color: white;
	font-size:22px;
}
.wk10{
	width: 200px;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;v
	border: 1px solid #00C4DE;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, content{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #BOC4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
width: 92%;
margin: 0px auto;
padding: 10px;
border: 1px solid #a94442;
color: #a94442;
background: #f2dede;
border-radius: 5px;
text-align: left;
}
.success{
	color: #3c7636;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
footer{
 	left: 0;
 	right: 0;
 	bottom: 0;
 	width: 100%;
 	height:45px;
 	background-color: black;
 	color: white;
 }